# .venv/
# __pycache__/
# *.pyc
# *.sqlite3
# .env
# /staticfiles/
# media/
# .pgdata/
# .idea/
# .vscode/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.build/
dist/
.eggs/

# Virtualenv
.venv/
.venv_win/
env/
venv/

# Django
staticfiles/
media/
*.sqlite3

# Env / secrets
.env
.env.*
!.env.example

# Tests
.pytest_cache/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker
*.log
